<div class="container-fluid bg-light rounded shadow-sm pt-3">
  <%= form_with model: [@article, @article.comments.build] do |form| %>
    <div class="input-group input-group-sm mb-3">
      <%= form.label :commenter, class: "input-group-text" %>
      <%= form.text_field :commenter, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :body, class: "form-label" %>
      <%= form.text_area :body, class: "form-control" %>
    </div>
    <p>
      <%= form.submit class: "btn btn-outline-primary mb-3" %>
    </p>
  <% end %>
</div>