<div class="container bg-light rounded shadow-sm pt-3">
  <%= form_with model: article do |form| %>
    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div class="container bg-danger bg-opacity-25 p-1 rounded m-sm-1">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :body, class: "form-label" %>
      <%= form.text_area :body, class: "form-control" %>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div class="container bg-danger bg-opacity-25 p-1 rounded m-sm-1">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.submit class: "btn btn-outline-primary mb-3" %>
    </div>
  <% end %>
</div>